@use "./variables.scss";
@use "./fonts.scss";
@use "./animations.scss";
@use "./navbar.scss";

p,
strong,
small,
sub,
sup {
  font-family: paragraph, sans-serif;
}

h1 {
  font-family: title, sans-serif;
  font-size: 3.5rem;
}

h2,
h3,
h4 {
  font-family: subtitle, sans-serif;
}

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

body {
  -ms-overflow-style: none;

  // scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; //Hides scrollbar for Chrome, Safari and Opera
  }
}

input {
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  font-family: paragraph, sans-serif;

  &:is(:-webkit-autofill, :autofill, :-moz-placeholder) {
    background-color: transparent !important;
    color: inherit !important;
    border: none !important;
    box-shadow: none !important;
  }
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  transition: all 0.15s;
}

.loading-container,
.no-results-container {
  width: 100%;
  height: 100%;
  min-height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.loading-icon-container {
  font-size: 5rem;

  #loading-icon {
    animation: spinClockwise 1s linear infinite;
  }
}

main {
  height: 100%;
  min-height: 100dvh;
  padding-top: 6rem;
  background: linear-gradient(-45deg, blue, rgb(0, 174, 255));
  animation: fadeIn 0.8s ease-in;
  &#clouds {
    background: linear-gradient(-45deg, rgb(94, 102, 143), rgb(167, 178, 211));
  }
  &#rain,
  &#drizzle {
    background: linear-gradient(-45deg, rgb(63, 69, 99), rgb(116, 132, 177));
  }

  &#thunderstorm {
    background: linear-gradient(-45deg, rgb(7, 26, 109), rgb(2, 17, 43));
  }

  &#snow {
    background: linear-gradient(-45deg, rgb(74, 77, 231), rgb(166, 181, 247));
  }

  &#mist {
    background: linear-gradient(
      -45deg,
      rgb(66, 99, 172),
      rgb(74, 84, 126),
      rgb(37, 41, 58)
    );
  }

  &#haze {
    background: linear-gradient(-45deg, rgb(255, 174, 0), rgb(255, 244, 220));
  }

  &.night {
    background: linear-gradient(135deg, rgb(0, 5, 12), rgb(2, 9, 44));

    &#clouds {
      background: linear-gradient(-45deg, rgb(26, 31, 56), rgb(31, 36, 51));
    }

    &#rain,
    &#drizzle {
      background: linear-gradient(-45deg, rgb(26, 29, 36), rgb(28, 38, 63));
    }

    &#thunderstorm {
      background: linear-gradient(-45deg, rgb(15, 5, 71), rgb(0, 6, 34));
    }

    &#snow {
      background: linear-gradient(-45deg, rgb(21, 22, 68) rgb(32, 43, 90));
    }

    &#mist {
      background: linear-gradient(
        -45deg,
        rgb(143, 28, 28),
        rgb(74, 84, 126),
        rgb(37, 41, 58)
      );
    }

    &#haze {
      background: linear-gradient(-45deg, rgb(22, 16, 1), rgb(54, 38, 3));
    }

    --background-color-1: rgba(2, 7, 29, 0.897);
    --background-color-2: rgba(6, 17, 54, 0.76);
    --secondary-background-color-1: rgb(2, 10, 27);
    --secondary-background-color-2: rgb(3, 10, 31);
    --card-color-1: rgba(213, 223, 235, 0.1);
    --card-color-2: rgba(255, 255, 255, 0.05);
    --title-color: white;
    --header-search-color: rgb(6, 16, 49);
    --nav-menu-search-color: rgba(61, 71, 117, 0.301);
  }
}

.main-container,
.secondary-container,
.hourly-forecast-container,
.daily-forecast-container {
  max-width: 1000px;
  box-shadow: 0rem 0rem 10px 0rem rgba(0, 0, 0, 0.15);
  margin: 1rem clamp(1rem, -11.736rem + 45.283vw, 10rem);
  animation: fadeIn 0.8s ease-in;
}

.main-container {
  border-radius: 1rem;
  overflow: hidden;
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 0rem;

  > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem;
    margin: 2rem 0rem;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }

  .weather-container {
    font-size: 1.5rem;
    #weather-icon-current {
      font-size: 8rem;
    }
  }

  .temp-container {
    #main-temp {
      font-size: 3rem;
    }
  }
  .info-container {
    #current-location {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    #current-time {
      font-size: 1.75rem;
    }
  }
}

.secondary-container {
  background: linear-gradient(
    135deg,
    var(--background-color-1),
    var(--background-color-2)
  );
  border-radius: 1rem;
  overflow: hidden;
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Creates two equal columns
  grid-auto-rows: 1fr; //Min height of 1 row for each item in the grid
  grid-template-rows: auto; // Rows will adjust based on content
  gap: 1rem;
  padding: 1rem;

  & > :nth-child(-n + 4) {
    aspect-ratio: 1 / 1;
    .icon {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
    }

    .info {
      font-size: 1.25rem;
    }
  }

  // Every item after the first should occupy its own row
  & > :nth-child(n + 5) {
    grid-column: span 2; // Each item takes up only 1 column
    grid-row: auto; // Automatically adjusts the rows based on the content
  }

  > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.5rem;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(
      135deg,
      var(--card-color-1),
      var(--card-color-2)
    );
    border-radius: 0.66rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wind-container,
  .uvi-container,
  .aqi-container {
    grid-column: span 2;
    grid-row: span 2;
  }

  .aqi-container {
    padding: 0.5rem;
    .title {
      padding: 0.75rem 0rem;
    }
  }

  .day-length-container {
    .info {
      font-size: 1.75rem;
    }
  }

  .aqi-data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 100%;

    .chemical-info-container {
      background: linear-gradient(
        135deg,
        var(--card-color-1),
        var(--card-color-2)
      );
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      flex: 1 1 60px;
    }
  }
}

.hourly-forecast-container {
  background: linear-gradient(
    135deg,
    var(--background-color-1),
    var(--background-color-2)
  );
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  color: var(--text-color);

  > * {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }

  .hourly-forecast-mask {
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0)
    );
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0)
    );
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .hourly-forecast-page {
    display: inline-block;
  }

  ul li {
    list-style-type: none;
  }
  .hourly-forecast {
    width: 100%;
    display: flex;

    .hourly-forecast-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: var(--hourly-section-width);

      #weather-icon-hourly {
        font-size: 2rem;
      }
    }
  }
}

.line-graph {
  width: auto;
}

.daily-forecast-container {
  background: linear-gradient(
    135deg,
    var(--background-color-1),
    var(--background-color-2)
  );
  color: var(--text-color);
  padding: 1rem;
  border-radius: 1rem;

  > * {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }

  .button-container {
    visibility: hidden;
  }

  .daily-forecast-mask .daily-forecast-items-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      .temps {
        width: 30%;
        display: flex;

        p {
          width: 50%;
          display: flex;
          justify-content: right;
          padding: 0rem 0.25rem;
        }
      }

      .weather-icon {
        width: 10%;
        font-size: 1.25rem;
      }

      .precipitation {
        width: 25%;
        display: flex;
        justify-content: left;
      }
      .day {
        width: 35%;
      }
    }
  }
}

.precipitation {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &#weather-icon-daily {
    justify-content: left;
  }
}

.semi-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.semi-circle {
  transform: rotateZ(-90deg);
  aspect-ratio: 1;
  inline-size: 50vmin;
  border-radius: 50%;
  --thickness: 10px;
  --inner: calc(70% - var(--thickness));
  --outer: calc(var(--inner) + 1px); /* fixes aliasing */

  /* hides the inner part of the conic gradient/element */
  mask: radial-gradient(circle, #0000 var(--inner), #000 var(--outer));

  /* gradient up to --ng, transparent after --ng */
  background-image: conic-gradient(
    white var(--uv-angle),
    rgba(255, 255, 255, 0.5) var(--uv-angle),
    rgba(255, 255, 255, 0.5) 180deg,
    #0000 0
  );
}

.compass-dial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: 80%;
  aspect-ratio: 1 / 1;
  transform: rotateZ(var(--wind-direction));
  container-type: inline-size;

  .ring {
    border-radius: 50%;
    min-height: 100px;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--text-color);
    mask: radial-gradient(circle, #0000 64%, #000 calc(64% + 1px));
  }
  .arrow {
    bottom: calc(100cqw + 1rem);
    color: var(--text-color);
    position: absolute;
    font-size: 1.5rem;
  }
}

.button-container {
  height: calc(275px - 2rem);
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;

  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }

  .left-button,
  .right-button {
    font-size: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

    &:hover {
      transform: scale(108%);
      transition: all 0.15s;
    }
  }
}

.search-wrapper {
  max-width: 235px;
  z-index: 2;

  .search-bar-container {
    border-radius: 50px;
    display: flex;
    background-color: var(--header-search-color);

    .search-bar {
      padding: 0.5rem 0rem 0.5rem 1.25rem;
      width: 235px;
      height: 2.5rem;
      background-color: transparent;
      font-size: 1.15rem;
      color: var(--title-color);

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }

      &::placeholder {
        color: rgb(0, 110, 255);
      }
    }

    .search-button {
      color: rgb(0, 110, 255);
      height: 2.5rem;
      aspect-ratio: 1 / 1;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        top: 2px;
      }

      &:hover {
        transform: scale(108%);
        transition: all 0.15s;
      }
    }
  }
  .suggestions-list {
    background-color: var(--header-search-color);
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    max-height: 40rem;
    overflow-y: auto;
    scrollbar-width: none;

    li {
      list-style-type: none;
    }

    .suggestion-container {
      padding: 0.25rem 0rem 0.25rem 1.25rem;

      .suggestion {
        width: 100%;
        display: flex;
        mask-image: linear-gradient(to right, black 72%, transparent 95%);
        p {
          font-size: 1.15rem;
          padding: 0.25rem 0rem;
          white-space: nowrap;
          color: var(--title-color);
        }
      }

      &:hover {
        background-color: rgba(76, 82, 122, 0.11);
        transition: all 0.1s;
      }
    }
  }
}

.colored {
  background: linear-gradient(to top left, blue, #0059ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.header-container {
  display: flex;
  justify-content: center;
}

.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  max-width: 1000px;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    var(--secondary-background-color-1),
    var(--secondary-background-color-2)
  );
  box-shadow: 0rem 0rem 10px 0rem rgba(0, 0, 0, 0.15);

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  h1.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 2.5rem;
    color: var(--title-color);

    .icon {
      top: 4px;
    }
  }
}

@media (min-width: 450px) {
  .daily-forecast-container {
    .button-container {
      visibility: visible;
    }

    .daily-forecast-mask {
      overflow-x: scroll;
      scrollbar-width: none;
      overflow-y: hidden;
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 2%,
        rgba(0, 0, 0, 1) 98%,
        rgba(0, 0, 0, 0)
      );
      -webkit-mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 2%,
        rgba(0, 0, 0, 1) 98%,
        rgba(0, 0, 0, 0)
      );

      &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
        appearance: none;
      }

      .daily-forecast-items-container {
        flex-direction: row;
        gap: 1rem;
        min-height: 15rem;

        li {
          flex-direction: column;
          background: linear-gradient(
            135deg,
            var(--card-color-1),
            var(--card-color-2)
          );
          min-width: 10rem;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          padding: 0.25rem;
          gap: 1rem;

          .day,
          .temps,
          .weather-icon#weather-icon-daily,
          .precipitation {
            display: flex;
            width: 100%;
            justify-content: center;
          }

          .precipitation {
            font-size: 1rem;
          }

          .day {
            font-size: 1.5rem;
          }

          .weather-icon#weather-icon-daily {
            font-size: 3rem;
          }

          .temps {
            justify-content: center;
            font-size: 1.25rem;

            p {
              display: flex;
              padding: 0rem 0.5rem;
              justify-content: left;
              &:first-child {
                justify-content: right;
                border-right: 1px solid var(--text-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #navbar h1.logo .text {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-container,
  .secondary-container,
  .hourly-forecast-container,
  .daily-forecast-container {
    margin: 1rem 1rem;
  }

  .dashboard-header {
    margin: 0rem 1rem;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto; //First item in column takes up as much space as possible while the second one takes up the remaining space
    min-height: 500px;

    > * {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0rem;
      margin: 0rem;
    }

    :nth-child(1) {
      order: 2;
      align-items: flex-end;
      grid-row: span 2;
    }

    :nth-child(3) {
      order: 2;
    }

    .weather-container {
      display: flex;
      flex-direction: column-reverse;
      font-size: 1.5rem;
      padding-left: 1rem;
      #weather-icon-current {
        font-size: 8rem;
      }
      #weather-description {
        font-size: 1.75rem;
      }
    }

    .temp-container {
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      #main-temp {
        font-size: 5.5rem;
      }
      #feels-like {
        font-size: 1.75rem;
      }
    }
    .info-container {
      padding-right: 1rem;
      justify-content: flex-end;

      #current-location {
        font-size: 1.45rem;
      }

      #current-time {
        font-size: 2.5rem;
      }

      #current-date {
        font-size: 1.75rem;
      }
    }
  }

  .secondary-container {
    grid-template-columns: repeat(4, 1fr); // Creates two equal columns
    grid-auto-rows: 1fr; //Min height of 1 row for each item in the grid
    grid-template-rows: auto; // Rows will adjust based on content

    & > :nth-child(-n + 4) {
      .icon {
        font-size: clamp(3rem, -6rem + 18.75vw, 6rem);
      }

      .info {
        font-size: clamp(1.25rem, -0.25rem + 3.125vw, 1.75rem);
      }

      .title {
        font-size: clamp(1rem, -0.05rem + 2.188vw, 1.35rem);
      }
    }

    .title {
      font-size: clamp(1rem, -0.05rem + 2.188vw, 1.35rem);
    }

    .info {
      font-size: clamp(1.35rem, -0.6rem + 4.062vw, 2rem);

      &.chemical {
        font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
      }
    }

    .label {
      font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
    }

    > * {
      grid-column: span 1;
    }

    .wind-container {
      grid-row: span 3;
    }
  }
}

@media (min-width: 1024px) {
  .main-container,
  .secondary-container {
    margin: 1rem 0rem;

    & > :nth-child(-n + 4) {
      .icon {
        font-size: 6rem;
      }

      .info {
        font-size: 1.75rem;
      }

      .title {
        font-size: 1.35rem;
      }
    }

    .title {
      font-size: 1.35rem;
    }

    .info {
      font-size: 2rem;

      &.chemical {
        font-size: 1.5rem;
      }
    }

    .label {
      font-size: 1.5rem;
    }
  }

  .hourly-forecast-container {
    margin: 0rem 0rem 0.5rem;
    width: 100%;
  }
  .daily-forecast-container {
    margin: 0.5rem 0rem 1rem;
    width: 100%;
  }

  .weather-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
