:root {
  --line-graph-color: rgba(255, 255, 255, 0.5);
  --text-color: white;
  --title-color: black;
  --background-color-1: rgba(223, 230, 241, 0.904);
  --background-color-2: rgba(139, 171, 218, 0.644);
  --secondary-background-color-1: rgb(247, 251, 255);
  --secondary-background-color-2: rgb(235, 239, 245);
  --card-color-1: rgba(238, 243, 255, 0.616);
  --card-color-2: rgba(227, 232, 240, 0.253);
  --header-search-color: rgb(224, 228, 240);
  --nav-menu-search-color: rgba(234, 236, 245, 0.301);
}
